# Dependencies
node_modules/
.pnp
.pnp.js
.yarn/

# Next.js / build
.next/
out/
build/
dist/

# Env & secrets
.env
.env*.local
.env.local
.env.production

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Misc
.vercel
*.tsbuildinfo
next-env.d.ts
